@tailwind base;
@tailwind components;
@tailwind utilities;

/* Links */
a:hover {
    text-decoration: underline;
}


/* Scrollbar related default styles */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgba(3, 7, 18, 0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(55 65 81);
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(75 85 99);
}